@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Regular-webfont.woff') format('woff'),
         url('OpenSans-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('OpenSans-Light-webfont.woff') format('woff'),
         url('OpenSans-Light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('BebasNeue-webfont.woff') format('woff'),
         url('BebasNeue-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Yanone Kaffeesatz Regular';
    src: url('yanonekaffeesatz-regular-webfont.woff') format('woff'),
         url('yanonekaffeesatz-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Yanone Kaffeesatz Light';
    src: url('yanonekaffeesatz-light-webfont.woff') format('woff'),
         url('yanonekaffeesatz-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald Light';
    src: url('Oswald-Light-webfont.woff') format('woff'),
         url('Oswald-Light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('Oswald-Regular-webfont.woff') format('woff'),
         url('Oswald-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald Stencil';
    src: url('Oswald-Stencil-webfont.woff') format('woff'),
         url('Oswald-Stencil-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Propaganda';
    src: url('propaganda-webfont.woff') format('woff'),
         url('propaganda-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SquareFont';
    src: url('square-webfont.woff') format('woff'),
         url('square-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* ICON FONT - ELUSIVE */
@font-face {
  font-family: 'elusive';
  src: url('elusive.woff') format('woff'),
       url('elusive.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* FIN */